<div class="container">
  <h2>Admin Dashboard</h2>

<div class="admin_edit">
<div class="row edit_tools">
  <div class="col-md-4">
    <div class="edit_races">
      <h4> Edit Races </h4>
      <% @races.each do |race| %>
        <li>
          <%= link_to race.city, edit_admin_race_path(race) %>
        </li>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="edit_boat_classes">
      <h4> Edit Classes </h4>
      <% @boat_classes.each do |boat_class| %>
        <li>
          <%= link_to boat_class.class_name, edit_admin_boat_class_path(boat_class) %>
        </li>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
  <div class="reg_by_race">
    <h4>Registrations by Race</h4>
    <ul>
      <li>
        <% @races.each do |race| %>
          <h5><%= race.city %></h5>
          <ul>
          <% race.registrations.each do |registration| %>
            <li><%= registration.user.first_name %>
            <%= registration.user.last_name %>
            <%= registration.boat_class.class_name %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-4">
  <div class="reg_by_class">
    <h4>Registrations by Class</h4>
    <ul>
      <% @registrations.each do |boat_class, count| %>
      <li><%= boat_class.class_name %> <span class="badge"><%= count %></span></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="col-md-4">
  <div class="reg_by_driver">
    <h4>Registrations by Driver</h4>
  </div>
</div>
</div>
</div>
