<div class="container">

<%= link_to "<< All Profiles", users_path %>

<h2><%= "#{@user.first_name}'s Profile" %></h2>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Boat #: <%= @user.boat_number %></p>
<p>USTS Member #: <%= @user.usts_number %></p>
<p>Classes Run: <%= @user.boat_class_string %>

<% if current_user == @user %>
<%= link_to edit_user_path(@user) do %>
<div class="btn-group">
  <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
    Edit Profile
  </button>
</div>
<% end %>
<% end %>
</div>
