<div class="container">
<h2> All Registrations for 2017 </h2>

<% @registrations.each do |registration| %>
<li>
  <%= registration.user.first_name %> <%= registration.user.last_name %>
  <%= registration.boat_class.class_name %>
  <%= registration.race.city %></li>
<% end %>

<% if logged_in? %>
<%= link_to new_registration_path do %>
<div class="btn-group">
  <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
    Add new registration
  </button>
</div>
  <% end %>
  <% else %>
  <%= link_to login_path do %>
  <div class="btn-group">
    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
      Login to register
    </button>
  </div>
  <% end %>
  <% end %>
</div>
</div>
