<!DOCTYPE html>
<html>
  <head>
    <title>US Title Series</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
     <% end %>
     <div>
  <% if logged_in? %>
    <p class="logout"><%= link_to "Logout", logout_path, method: "delete" %></p>
    <% else %>
    <p><%= link_to "Login", login_path %></p>
    <% end %>
</div>
    <%= yield %>
  </body>
</html>
